# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Other built stuff
app/libs/

# Any certificates directory from testing
certs/

# Python virtual environment
venv/

# Temporary files :)
temp*
temp/
test.*
*.log

# Other Python stuff
__pycache__/
